<h2>Login as Device</h2>

<%= form_with url: sign_in_path do |form| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= form.label :reference %>
    <%= form.text_field :reference, class: "form-control", placeholder: "john@doe.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>